<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script>

        angular.module('app', [])
        .controller('SampleController', function ($scope) {
            $scope.text = 'TextBox';
            $scope.checkbox = true;
            $scope.radio = 'FUGA';
            $scope.select = 'foo';
        })

        </script>
    </head>
    <body>
        <form ng-controller="SampleController">

            <p>text = {{text}}</p>
            <p>checkbox = {{checkbox}}</p>
            <p>radio = {{radio}}</p>
            <p>select = {{select}}</p>

            <input type="text" ng-model="text" />

            <input type="checkbox" ng-model="checkbox" />

            <input type="radio" name="hoge" value="HOGE" ng-model="radio" />HOGE
            <input type="radio" name="hoge" value="FUGA" ng-model="radio" />FUGA

            <select ng-model="select">
                <option value="foo">Foo</option>
                <option value="bar">Bar</option>
            </select>
        </form>
    </body>
</html>
